<% provide(:title, "使い方") %>

<div style="padding:0;margin:0;width:100%;color:#333;background:#fff;border:1px solid #ccc;border-top:3px solid #0000FF;box-shadow:4px 4px 8px #ddd">
<div style="padding:6px 9px;font-weight:bold;background:#f7f7f7;border-bottom:1px dotted #ccc;">
<h3 id="mokuji">■目次</h3>
</div>
<div style="padding:15px"><a href="#title1">▶1:登録の仕方</a>
<br />
<a href="#title2">▶2:投稿の仕方</a>
<br />
<a href="#title3">▶3:サプライチェーンの追加</a>
<br />
<a href="#title4">▶4:QRコードのダウンロード</a>
<br />
<a href="#title5">▶5:その他の機能</a>
</div>
</div>
<br />
<br />
<div style="padding:0;margin:0;width:100%;color:#333;background:#fff;border:1px solid #ccc;border-top:3px solid #0000FF;box-shadow:4px 4px 8px #ddd">
<div style="padding:6px 9px;font-weight:bold;background:#f7f7f7;border-bottom:1px dotted #ccc;">
<h3 id="title1">■1:登録の仕方 </h3>
</div>
</div>
<br />
<p>まず、<a href="/signup">新規登録ページ</a>にアクセスします。<br></p>
<%= image_tag("signup.png", :size => '600x400', class: "help-signup") %><br><br>
<p>各項目を記述して、登録をしてください。<br>
登録が完了したら、メールが届くので<br>メールのから本登録を完了してください。</p>
<%= image_tag("help-activation.png", class: "help-activation") %><br><br>
これで本登録が完了です！


<br />
<br />
<br />
<br />
<br />
<div style="padding:0;margin:0;width:100%;color:#333;background:#fff;border:1px solid #ccc;border-top:3px solid #0000FF;box-shadow:4px 4px 8px #ddd">
<div style="padding:6px 9px;font-weight:bold;background:#f7f7f7;border-bottom:1px dotted #ccc;">
<h3 id="title2">■2:投稿の仕方 </h3>
</div>
</div>
<br />
<p>本登録が完了しましたら、<a hred="/postpage/new">投稿ページ</a>へアクセスします。</p><br>
<%= image_tag("postpage.png", :size => '600x400', class: "help-signup") %><br><br>
ここで各情報を入力して、投稿ボタンを押してください。<br>
※詳細情報の画像は表示されません
<br />
<br />
<br />
<br />
<br />
<div style="padding:0;margin:0;width:100%;color:#333;background:#fff;border:1px solid #ccc;border-top:3px solid #0000FF;box-shadow:4px 4px 8px #ddd">
<div style="padding:6px 9px;font-weight:bold;background:#f7f7f7;border-bottom:1px dotted #ccc;">
<h3 id="title3">■3:サプライチェーンの追加 </h3>
</div>
</div>
<br />
サプライチェーンを追加したい場合は、追加してほしいユーザーをフォローしてください。<br>
<%= image_tag("follow.png", class: "help-activation") %>
フォローすることで、そのユーザーはチェーンを追加することができます。<br />
チェーンの追加は商品詳細情報のページから追加できます。
<br />
<br />
<br />
<br />
<div style="padding:0;margin:0;width:100%;color:#333;background:#fff;border:1px solid #ccc;border-top:3px solid #0000FF;box-shadow:4px 4px 8px #ddd">
<div style="padding:6px 9px;font-weight:bold;background:#f7f7f7;border-bottom:1px dotted #ccc;">
<h3 id="title4">■4:QRコードのダウンロード </h3>
</div>
</div>
<br />
QRコードのダウンロードは、チェーンの追加と同じページでできます。<br />
<%= image_tag("btn.png", class: "help-activation") %>
<br><br>QRコードを使うことで、様々なビジネスに応用できます！
<br />

<br />
<br />
<br />
<div style="padding:0;margin:0;width:100%;color:#333;background:#fff;border:1px solid #ccc;border-top:3px solid #0000FF;box-shadow:4px 4px 8px #ddd">
<div style="padding:6px 9px;font-weight:bold;background:#f7f7f7;border-bottom:1px dotted #ccc;">
<h3 id="title5">■5:その他の機能 </h3>
</div>
</div>
<br />
順次更新予定です。<br />
<br />
<br />
<a href="#mokuji">▶目次にもどる</a>
