<div class="vege-relative">
　<%= image_tag("grape.png") %>
  <div class="vege">
  <h1>全ての商品には<br>ストーリーがある</h1>
<br><br>  
  <% if not_logged_in? %>
  <div class="vege-btn">
  <%= link_to "無料で登録", signup_path, class: "btn btn-light" %>
  </div>
  <% end %><br>
  <h2>サプライチェーンを通じて、<br>商品の信頼を提供します</h2>

  </div>

</div>

<div class="for-business row">
    <h1 class="business-h1">消費者に分かりやすいストーリーを作る</h1>
    <div class="col-md-6 col-xs-12">
        <%= image_tag("business.png", :size => '200x200' ) %>
        <h2>小売業者向け</h2>
        <p>生産者等の情報と組み合わせることによって<br>
        消費者を安心させ、付加価値を上げます。</p>
    </div>
    
    <div class="col-md-6 col-xs-12">
        <%= image_tag("farmer.png", :size => '200x200' ) %>
        <h2>生産者向け</h2>
        <p>独自の価値やこだわりを、消費者に対して<br>
        　　鮮明に伝えることができます。</p>
    </div>
</div>
<div class="home-qr">
    <%= image_tag("qr.png", :size => '200x200' ) %>
    <h2>普通のラベルを超えてみませんか</h2>
    <p>QRコードを付与することで消費者は
    すぐにBrandingにアクセスできます。QRコードを活用すると、ビジネスの範囲は拡大します！<br>
    買い物をする時、その商品がどのようなプロセスを
    辿ってきたかを知ることは、<br>消費者に対して
    この上ない安心感を与えます。</p>
</div>
<div class="consumer">
    <%= image_tag("consumer.png", :size => '600x400' ) %>
    <h2>健康と安心を消費者は気にしています</h2>
    <p>消費者は今日、ますます商品の出所を気になっています。<br>
    <a href="https://www.jfc.go.jp/n/release/pdf/topics_170302a.pdf">
        日本政策金融公庫の調査
    </a>
    によると、今後ますます安全性と健康意識の増加が期待されています。<br>
    今後はTPPによる食品の輸入も増加するので、他の商品との
    差別化が必要となってきます。
    </p>
</div>

<div class="mac-screen">
    <div class="mac">
    <%= image_tag("mac-screen.png", :size => '600x400' ) %>
    </div>
    <h1>トレーサビリティ</h1>
    <p>Brandingは視覚的に分かりやすいトレーサビリティを<br>
    提供します。詳細な情報を含めることもできるため、<br>
    消費者に製品の強みを訴えることができます。</p>

</div>

<div class="last-btn">
  <%= link_to "無料で登録", signup_path, class: "btn btn-primary ss" %>
</div>






<style>
.alert {
    margin-top: -30px;
}

.nav-head {
    padding-left: 15px;
}
div.container {
    padding: 0;
    width: 100%;
    
}
.vege-relative {
    padding: 0;
    margin-top: -50px
    
}
@media screen and (max-width: 770px){
.vege-relative {
    padding: 0;
    margin: -40px;
}
.alert {
    margin-top: -20px;
}
}
</style>

