<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag @user.thumbnail.url if @user.thumbnail?%><br>
        <%= @user.name %><br>
        <%= render 'users/stats' %>
        <%= render 'follow_form' if logged_in? %>
      </h1>
      
      <div class="introduction-p">
        <p class="aff-l">所属</p>
        <p class="aff"><%= @user.introduction.affilitation unless @user.introduction.nil? %></p>
        
        <p class="pre-l">居住地</p>
        <p class="pre"><%= @user.introduction.prefecture unless @user.introduction.nil? %></p>

        <p class="cont-l">自己紹介</p>
        <p class="cont"><%= simple_format(@user.introduction.content) unless @user.introduction.nil? %></p>

        <p class="site-l">サイト・ブログ等のURL</p>
        <p class="site-p"><a href="<%= @user.introduction.site unless @user.introduction.nil? %>"><%= @user.introduction.site unless @user.introduction.nil? %></a></p>
        
      </div>
        <% if @user == current_user && @user.introduction.blank? %>
        <%= link_to '自己紹介を作成', "/introduction/#{@user.id}", class: 'btn btn-primary int-btn' %>
        <% end %>
        
        <% if @user == current_user && @user.introduction.present? %>
        <%= link_to '自己紹介を編集', "/introduction/edit/#{@user.id}", 
                    class: 'btn btn-primary int-btn' %>
        <% end %>
      
      
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3 class="post-count">投稿数<%= @user.microposts.count %></h3>
      <ol class="microposts-index">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>