<% block_count = @blocks.count %>

<% block_count.times do |n| %>

  <% if @blocks[n] %>
  <div class="main-pro">
  
    <div class="col-md-4 main-pro4">
      <div class="pro-date">

        <%= @blocks[n].date %>
      </div>
    </div>
    
    <div class="col-md-5 block8">
     <div>
      <% post = Micropost.find_by(id: @blocks[n].micropost_id) %>
      <% user = User.find_by(id: post.user_id) %>
      <p class="manage">管理者：</p>
      <div class="manage1">
        <%= link_to user.name, user_path(user) %>
        <%= image_tag user.thumbnail.url, :size => '47x47' if user.thumbnail? %>
      </div>
     </div>
    
    <div>
      <div class="proim">
        <%= image_tag @blocks[n].picture.url, 
                   :size => '97x97' if @blocks[n].picture? %>
        <div class="proin">
        <%= simple_format(@blocks[n].information) %>
        </div>
      </div>
           
      <div class="propl">
        <i class="fas fa-map-marker-alt"></i>
        <%= @blocks[n].place %>
      </div>
    
    </div>
  
  <% end %>
  </div>
<% end %>

<!-- 上でblockは終わり。下からはchainとその中のdeepchainを記述していく。 -->

<% if @chains.present? %>
<%= render 'microposts/chain' %>

<% end %>



