<% range = (0..20) %>
<%= range.each do |n| %>

<div id="block-<%= n %>">
  <% if @blocks[n] %>
  
    <div id="block-bs-<%= n %>">
      <%= Block.places.keys[@blocks[n].place] %>
      <%= @blocks[n].date %><br>
    </div>
    
    <div id="block-inf-<%= n %>">
    <%= image_tag @blocks[n].picture.url if @blocks[n].picture? %>
    <%= @blocks[n].information %>
    </div>
    
</div>
  
    |<br>
    |<br>
    |<br>
    |<br>
    <% end %>
<% end %>
