<div class="block">
    <%= blocks_form.label :place, "場所" %><br />
    <%= blocks_form.select :place, Block.places.keys, {}, class: 'place' %><br>
    
    <%= blocks_form.label :date, "時期" %><br>
    <%= blocks_form.date_field :date, class: "date"%><br>
    
    <%= blocks_form.label :information, "詳細情報" %><br>
    <%= blocks_form.text_area :information, placeholder: "入力してください", class: "information" %><br />
    
    <% end %>
</div>