<% count = @blocks.count %>

<% count.times do |n| %>

  <% if @blocks[n] %>
  
    <div id="place-<%= n %>">
      <%= Block.places.keys[@blocks[n].place] %>
    </div>
    <div id="date-<%= n %>">
      <%= @blocks[n].date %><br>
    </div>
    
    <div id="block-inf-<%= n %>">
    <%= image_tag @blocks[n].picture.url if @blocks[n].picture? %>
      <div id="inf-<%= n %>">
        <%= simple_format(@blocks[n].information) %>
      </div>
    </div>
    

      <% if @blocks[n] != @blocks.last %>
        |<br>
        |<br>
        |<br>
        |<br>
      <% end %>
    <% end %>
<% end %>


