<li id="micropost-<%= micropost.id %>">
    <%= image_tag micropost.user.image.url if micropost.user.image?%>
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
    <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.image.url if micropost.image? %>
    </span>
    <span class="timestamp">
        <%= time_ago_in_words(micropost.created_at) %>
        <% if current_user?(micropost.user) %>
         <%= link_to 'delete', micropost, method: :delete,
                      data: {confirm: "本当に削除してもよろしいですか？"} %>
        <% end %>
         
    </span>
</li>