　<!-- 検索機能　-->
　<div class="post-search">
　  <%= form_tag '/postpages', method: :get do %>
　  <%= text_field_tag :search %>
　  <%= submit_tag '検索', product: nil %>
  　<% end %>
　</div>

     <ol class="microposts-index">
        <%= render @microposts %>
     </ol>
<%= will_paginate @microposts %>


