<% provide(:title, "編集画面") %>

<%= nested_form_for(@micropost) do |f| %>

<%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :product %>
    <%= f.text_field :product %><br><br>
    
    <%= f.label :photo, "商品画像を変更", class: 'btn btn-warning' %>
    <div id="myfile1">
    <%= f.file_field :photo, accept: 'image/jpeg,image/gif,image/png', value: :photo,
        style: "display:none;" %></div><br>
  <img id="img2" style="width:200px;height:200px;" /><br><br>
  </div>
    
        <table class="table table-striped table-bordered table-hover", id="table-block">

            <tr>
               <th>場所</th>
               <th>時期</th>
               <th>詳細情報</th>
               <th>Action</th>
            </tr>
              <%= f.fields_for :blocks, :wrapper => false do |q| %>
              <tr class="fields">
                <td><%= q.select :place, Block.places.keys, {},
                                     class: 'form-control' %></td>
                <td><%= q.date_select :date, class: 'form-control' %></td>
                <td><%= q.text_area   :information, placeholder: "入力してください",
                                      class: 'form-control' %>
                <%= q.label :picture, "画像を変更", class: 'btn btn-warning' %>
                <%= q.file_field :picture, accept: 'image/jpeg,image/gif,image/png', 
                     style: "display:none;"%></td>
                <%= q.hidden_field :picture_cache %>
                <td><%= q.link_to_remove '削除', class: 'btn btn-danger', role: 'button' %></td>
              </tr>
       <% end %>
      </table>
      <%= f.link_to_add "追加", :blocks, :data => { :target => "#table-block" }, 
               class: 'btn btn-primary add-block-btn', role: 'button' %><br>
               
  <div class="actions">
    <%= f.submit class: "btn btn-success submit"%>
  </div>     
  
      


<% end %>

<%= link_to  "戻る", "/postpage/#{params[:id]}", class: "back-btn"%>

<script type="text/javascript">
  $('#micropost_image').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>

<script>
$(function(){
  $('#myfile1').change(function(e){
    //ファイルオブジェクトを取得する
    var file = e.target.files[0];
    var reader = new FileReader();
 
    //画像でない場合は処理終了
    if(file.type.indexOf("image") < 0){
      alert("画像ファイルを指定してください。");
      return false;
    }
 
    //アップロードした画像を設定する
    reader.onload = (function(file){
      return function(e){
        $("#img2").attr("src", e.target.result);
        $("#img2").attr("title", file.name);
      };
    })(file);
    reader.readAsDataURL(file);
 
  });
});
</script>