<% provide(:title, "#{@micropost.product}の詳細情報") %>
<div class="row">
  <div class="col-md-3">
          
    <h1><%= @micropost.product %></h1>
    <%= image_tag @micropost.photo, class: "product-image"%><br>
    <div class="qr"><%= qrcode_tag request.url, module_size: 2 %><br><br>
    <% if @micropost.user_id == current_user.id %>
      <%= link_to  "編集する", "/postpage/edit/#{params[:id]}", class: "btn btn-warning "%>
    <% end %>
    </div>
    
  </div>

  <div class="col-md-9 product-trajectory">
    <h1>ストーリー</h1>
    <%= render 'microposts/block' %>

  </div>

</div>