<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class="nav-head">
    <%= link_to root_path do %>
    <div class="logo3">
      <%= image_tag("logo3.png", size: '180x32') %>
    </div>
    <% end %>
    
      
      <% if logged_in? %>
      <%= link_to  "投稿する", '/postpage/new', class: "btn btn-success headpost", role: 'button'%>
      <% end %>
      
      <ul class="nav navbar-nav navbar-right">
        
        <li class="home-home">
        <%= link_to root_path do %>
        <i class="fas fa-home fa-2x"></i>
        <% end %></li>

        <li class="home-use"><%= link_to help_path do %>
        <i class="far fa-question-circle fa-2x"></i>
        <% end %></li>
        <li class="home-index"><%= link_to '/postpages' do %>
        <i class="fas fa-search fa-2x"></i>
        <% end %></li>

        <% if logged_in? %>
          <li><%= render 'notics/notic_dropdown' %></li>


<li class="dropdown dropdown-user">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fa fa-user fa-fw fa-2x"></i>
  </a>
  <ul class="dropdown-menu">
      <li class="drop-user">
 　　　<%= link_to user_path(current_user) do %>
    　<i class="fa fa-user fa-2x"></i> プロフィール
    　<% end %>
    　</li>
    　<li class="drop-user">
    　<%= link_to edit_user_path(current_user) do %>
    　<i class="fas fa-cog fa-2x"></i> 設定
    　<% end %>
    　</li>
    　<li class="drop-user">
    　<%= link_to logout_path, method: :delete do %>
    　<i class="fas fa-sign-out-alt fa-2x"></i> ログアウト
    　<% end %>
    　</li>
  </ul>
</li>

        <% else %>
          <li class="home-login"><%= link_to login_path do %>
          <i class="fas fa-sign-in-alt fa-2x"></i>ログイン
          <% end %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<style>
  .logo3 {
    margin-left: 20px;
  }
</style>